{% extends "auctions/layout.html" %}

{% block body %}

    <div class="row">
      <div class="col-9" >
        <h2 class="listing-title">{{ listing.title }}
          {% if active == False %}
              <span class="badge badge-danger">Closed</span>
          {% endif %}
        </h2>

        <p style="color:gray;">
          {% if onwatchlist == True %}
              <span class="badge badge-pill badge-success">Watchlist</span>
          {% endif %}
          Starting bid: ${{ listing.starting_bid }}
      </p>
      </div>

      <div class="col-3" style="text-align: right;">
        {% if active == True %}
            <form action="{% url 'listing' listing.id %}" method="post">
              {% csrf_token %}
              {% if onwatchlist == False %}
                  {% if watchlist_disable == True %}
                      <input class="btn btn-secondary" type="submit" name="addwatchlist" value="Add to Watchlist" disabled>
                      <br><small style="color:red;">You have to <a href="{% url 'login'%}" style="color:red;"><u>sign in</u></a> to do this!</small>
                  {% else %}
                      <input class="btn btn-outline-success" type="submit" name="addwatchlist" value="Add to Watchlist">
                  {% endif %}
              {% else %}
                  <input class="btn btn-outline-secondary" type="submit" name="removewatchlist" value="Remove from Watchlist">
              {% endif %}
            </form>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="text-align: center;">
          <img src="{{ listing.image }}" alt="Image of Listing Item" style="max-width:100%; height:auto;">
      </div>


        <div class="col-6">
          {% if active == True %}

                <b>Current Price<p style="font-size:30px;">${{listing.current_price}}</p></b>
                <div class="alert alert-secondary" role="alert">
                    {{ listing.num_bids }} bid(s) so far.
                </div>

              <hr>

              <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-5">

                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">$</div>
                              </div>
                              <input type="text" class="form-control form-control-lg" placeholder="Enter Bid" name="new_bid">
                          </div>
                    </div>
                    <div class="col-5">
                      {% if bid_disable == False %}
                        <input type="submit" class="btn btn-success btn-lg" style="vertical-align:middle;" name="placebid" placeholder="Place Bid">
                      {% else %}
                        <input type="submit" class="btn btn-secondary btn-lg" style="vertical-align:middle;" name="placebid" placeholder="Place Bid" disabled>
                      {% endif %}
                    </div>
                </div>
                  {% if bid_error == False %}
                      {% if bid_disable == True %}
                          <small style="color:red;">
                              You have to <a href="{% url 'login'%}" style="color:red;"><u>sign in</u></a> to do this!<br>
                          </small>
                      {% endif %}
                      <small class="text-muted">
                          You must meet the minimum bid of ${{listing.current_price}}.
                      </small>
                  {% else %}
                      <small style="color:red;">
                          You must meet the minimum bid of ${{listing.current_price}}.
                      </small>
                  {% endif %}

              </form>

              {% if owner == True %}
                  <hr>
                  <form action="{% url 'listing' listing.id %}" method="POST" style="text-align:center;">
                    {% csrf_token %}
                    <div class="form-group">
                    <input type="submit" class="btn btn-outline-warning btn-lg btn-block" value="Close Auction" id="closeauction" name="closeauction">
                    <small class="text-muted">The current bidder will be the winner of the auction.</small>
                    </div>
                  </form>
              {% endif %}

          {% else %} <!--if active == False-->
              <b>Winning Price<p style="font-size:30px;">${{listing.current_price}}</p></b>
              {% if winning_user == True %}
                <div class="alert alert-success" role="alert">
                    <b>You have won the auction!</b> {{ listing.num_bids }} bid(s) were made.
                </div>
              {% else %}
                <div class="alert alert-secondary" role="alert">
                    {{ listing.num_bids }} bid(s) were made.
                </div>
              {% endif %}
          {% endif %}
        </div>
    </div>

    <h4 style="margin-top:20px;">Comments</h4>
    <hr>
    <form action="{% url 'listing' listing.id %}" method="post">
      <div class="form-group" style="margin-top:10px;">
        {% csrf_token %}
        <textarea class="form-control" name="commentbox" rows="3" placeholder="Add a comment.."></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-outline-dark" value="Comment" name="commentbtn">
      </div>
    </form>
    {% for comment in comments %}
        <dl class="row">
          <dt class="col-sm-3">@{{ comment.user.username }}</dt>
          <dd class="col-sm-9">"{{ comment.comment }}"</dd>
        </dl>
    {% endfor %}
    <hr>
{% endblock %}
