{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Watchlist</h2>
  <div class="row">
    {% for item in watchlist %}
        <div class="col-sm-3" style="margin: 10px 0px;">
        <a href="{% url 'listing' item.listing.id %}" class="card-link">
              <div class="card h-100" style="width: 18rem;">
                  <img src="{{item.listing.image}}" class="card-img-top" alt="Image">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.listing.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Starting bid: ${{ item.listing.starting_bid }}</h6>
                    <!--<p class="card-text">{{ listing.desc }}</p>
                    <a href="{% url 'index' %}" class="btn btn-primary">More</a> -->
                  </div>
              </div>
        </a>
        </div>
  {% endfor %}
  </div>
{% endblock %}
